# Pandas

In [6]:
import pandas as pd
import numpy as np

### agg

#### aggregation的时候顺带修改新生成列的名字

In [20]:
df = pd.DataFrame({'kind': ['cat', 'dog', 'cat', 'dog'],
                   'height': [9.1, 6.0, 9.5, 34.0],
                   'weight': [7.9, 7.5, 9.9, 198.0]})
df

  kind  height  weight
0  cat     9.1     7.9
1  dog     6.0     7.5
2  cat     9.5     9.9
3  dog    34.0   198.0

In [21]:
df.groupby('kind', as_index=False).agg(min_height=('height', 'min'), 
                                       max_weight=('weight', 'max'),
                                       mean_weight=('weight', 'mean'),
                                       quantile_25=('weight', lambda x: x.quantile(0.25)))

  kind  min_height  max_weight  mean_weight  quantile_25
0  cat         9.1         9.9         8.90        8.400
1  dog         6.0       198.0       102.75       55.125